<div class="container">
    <div class="row">
        <div class="col-sm-4">
    <div class="gallery">
        <img src="./assets/images/chocolates.jpg" alt="no img">
        <div class="desc">Dark chocolate<br>
            <P>300(100gm)</P>
            <button class="btn btn-danger">SAVE
                <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
            </button>
            <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
            </button>
        </div>
    </div>
        </div>
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/chocolates1.jpg" alt="no img">
                <div class="desc">chocolate<br>
                    <P>4000</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>        
        </div>
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/chocolates2.jpg" width="300px" height="200px" alt="no img">
                <div class="desc">Dairy Milk<br>
                    <P>300</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/chocolates4.jpg" width="300px" height="200px" alt="no img">
                <div class="desc">chocolates<br>
                    <P>200RS(1)</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>        
        </div>
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/cooldrink5.jpg" height="150px" alt="no img">
                <div class="desc">fanta<br>
                    <P>9,5000</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>        
        </div>
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/ppe.jpg"  width="200px" height="100px" alt="no img">
                <div class="desc">PPE KIt<br>
                    <P>9,5000</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
    <div class="gallery">
        <img src="./assets/images/cooldrink.jpg" alt="no img" width="150px" height="150px">
        <div class="desc">fanta<br>
            <P>300RS(250G)</P>
            <button class="btn btn-danger">SAVE
                <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
            </button>
            <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
            </button>
        </div>
    </div>
        </div>
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/cooldrink1.jpg" height="150px" alt="no img">
                <div class="desc">mirinda<br>
                    <P>400RS(1l)</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/cooldrink3.jpg" alt="no img" width="150px" height="150px">
                <div class="desc">sprite<br>
                    <P>1000</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>