.container{
    margin-left: 0%;
    background: linear-gradient(red,white,orange);
    overflow: auto;
    text-align:center;
    padding-left: 4%;
    padding-top: 4%;
    width: 100%;
    margin-bottom: 12%;
}
.gallery{
    margin: 5px;
    border: 1px solid black;
    float: left;
    text-align:center;
    background: radial-gradient( skyblue,yellow,blue);
    padding: 10px;
    align-items: center;
    width: 400px;
    margin-left: 8%;
}
.desc{
    padding: 15px;
    text-align: center;
}
button:hover{
    background-color: darkcyan;
    color: black;
}
body{
    background-color: rebeccapurple;
}
