<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/mixer.jpg" alt="no img" width="200px" height="150px">
                <div class="desc">GANGA<br>
                    <P>9,5000</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>        
        </div>
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/laptop.jpg" alt="no img" width="200px">
                <div class="desc">LENOVO<br>
                    <P>30,000</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/laptop2.jpg" alt="no img" width="200px">
                <div class="desc">DELL<br>
                    <P>40,000</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/laptop3.jpg" alt="no img" width="200px" height="150px">
                <div class="desc">HP<br>
                    <P>35,000</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>        
        </div>
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/laptop4.jpg" alt="no img" width="200px">
                <div class="desc">TOSHIBA<br>
                    <P>200RS(1)</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/laptop5.jpg" alt="no img" width="200px">
                <div class="desc">ACER<br>
                    <P>300RS(250G)</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>        
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/laptop6.jpg" alt="no img" width="200px" height="150px">
                <div class="desc">--<br>
                    <P>400RS(1KG)</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/mixer grainder.jpg" alt="no img" width="200px" height="150px">
                <div class="desc">PREETHI<br>
                    <P>10,000</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>        
        </div>
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/mixer.jpg" alt="no img" width="200px" height="150px">
                <div class="desc">GANGA<br>
                    <P>9,5000</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>
        
        </div>
    </div>

</div>