<div class="body">
<div class="coniainer">
    <div class="row">
    <div class="sm-col-4">
        <div class="gallery">
            <img src="./assets/images/e fridge.jpg" width="300px" height="200px" alt="no img">
            <div class="desc">Samsung Fridge<br>
                <P>60,000</P>
                <button class="btn btn-danger">SAVE
                    <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                </button>
                <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                    <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                </button>
            </div>
        </div>    
    </div>
    <div class="sm-col-4">
        <div class="gallery">
            <img src="./assets/images/e lg.jpg" alt="no img">
            <div class="desc">Kitchen Appliances @LG<br>
                <P>1,40,000</P>
                <button class="btn btn-danger">SAVE
                    <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                </button>
                <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                    <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                </button>
            </div>
        </div>    
    </div>
    <div class="sm-col-4">
        <div class="gallery">
            <img src="./assets/images/laptop3.jpg" alt="no img">
            <div class="desc">HP<br>
                <P>35,000</P>
                <button class="btn btn-danger">SAVE
                    <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                </button>
                <button class="btn btn-success"><a routerLink="/checkout.component.html">ADD TO CART</a>
                    <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                </button>
            </div>
        </div>    
    </div>
</div>
<div class="row">
    <div class="sm-col-4">
        <div class="gallery">
            <img src="./assets/images/laptop4.jpg" width="200px" height="150px" alt="no img">
            <div class="desc">TOSHIBA<br>
                <P>20,000</P>
                <button class="btn btn-danger">SAVE
                    <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                </button>
                <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                    <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                </button>
            </div>
        </div>    
    </div>
    <div class="sm-col-4">
        <div class="gallery">
            <img src="./assets/images/laptop5.jpg" alt="no img" width="150px" height="150px">
            <div class="desc">ACER<br>
                <P>30,000</P>
                <button class="btn btn-danger">SAVE
                    <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                </button>
                <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                    <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="sm-col-4">
        <div class="gallery">
            <img src="./assets/images/laptop6.jpg" width="350px" alt="no img">
            <div class="desc">DELL<br>
                <P>40,000</P>
                <button class="btn btn-danger">SAVE
                    <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                </button>
                <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                    <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="sm-col-4">
            <div class="gallery">
                <img src="./assets/images/mixer grainder.jpg" alt="no img" width="150px" height="150px">
                <div class="desc">PREETHI<br>
                    <P>10,000</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>         
        </div>
        <div class="sm-col-4">
            <div class="gallery">
                <img src="./assets/images/mixer.jpg" height="150px" alt="no img">
                <div class="desc">GANGA<br>
                    <P>9,5000</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>        
        </div>
        <div class="sm-col-4">
            <div class="gallery">
                <img src="./assets/images/mixer.jpg" height="150px" alt="no img">
                <div class="desc">GANGA<br>
                    <P>9,5000</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>        
        </div>
    </div>
</div>
</div>
</div>