<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/essentials.jpg" alt="no img" width="200px" height="150px">
                <div class="desc">herbal sanitizers<br>
                    <P>1,000(1000ml)</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>        
        </div>
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/essentials1.jpg" alt="no img" width="200px" height="150px">
                <div class="desc">covid essentials<br>
                    <P>100</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>        
        </div>
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/essentials2.jpg" alt="no img" width="200px" height="150px">
                <div class="desc">covid essentials<br>
                    <P>10,000</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>        
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/essentials3.jpg" alt="no img" width="200px" height="150px">
                <div class="desc">covid essentials<br>
                    <P>10,000</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>        
        </div>
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/essentials4,jpg.jpg" alt="no img" width="200px" height="150px">
                <div class="desc">PREETHI<br>
                    <P>10,000</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>        
        </div>
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/essentials5.jpg" alt="no img" width="200px" height="150px">
                <div class="desc">covid essentials<br>
                    <P>10,000</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>        
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/essentials7.jpg" alt="no img" width="200px" height="150px">
                <div class="desc">covid essentials<br>
                    <P>10,000</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>        
        </div>
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/ppe.jpg" alt="no img" width="200px" height="150px">
                <div class="desc">covid essentials<br>
                    <P>10,000</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>        
        </div>
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/essentials.jpg" alt="no img" width="200px" height="150px">
                <div class="desc">covid essentials<br>
                    <P>10,000</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>        
        </div>
    </div>
</div>