<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/banana.jpg" alt="no img">
                <div class="desc">BANANA<br>
                    <P>40</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>            
        </div>
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/broccoli.jpg" alt="no img">
                <div class="desc">BROCCOLI<br>
                    <P>30RS(100G)</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/cabbage.jpg" alt="no img">
                <div class="desc">CABBAGE<br>
                    <P>20RS(1)</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/cauliflower.jpg" alt="no img">
                <div class="desc">CAULI FLOWER<br>
                    <P>20RS(1)</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/carrot.jpg" alt="no img">
                <div class="desc">CARROT<br>
                    <P>30RS(250G)</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>            
        </div>
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/tomato.jpg" alt="no img">
                <div class="desc">TOMATO<br>
                    <P>40RS(1KG)</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="checkout.component.html">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/cucumber.jpg" alt="no img">
                <div class="desc">CUCUMBER<br>
                    <P>30RS(250G)</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/spinach.jpg" alt="no img">
                <div class="desc">SPINACH<br>
                    <P>20RS(100G)</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/banana.jpg" alt="no img">
                <div class="desc">BANANA<br>
                    <P>40</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>            
        </div>
    </div>

</div>