<div class="gallery">
<div class="container">
  <div class="row">
  <div class="col-sm-2">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">      
        <a href="#">FRESH</a>
          <img src="./assets/images/saffron.jpg" alt="Avatar" align="center" style="width:150px;height:150px;">
        </div>
        <div class="flip-card-back">
          <h1>FRESH</h1>
          <p>EXPORE</p>
          <p>FOR fresh friuts and vegetables at affordable prices</p>
        </div>
      </div>
    </div>      
  </div>
  <div class="col-sm-2">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <a href="#">FASHION</a>
          <img src="./assets/images/saree8.jpg" alt="Avatar"  style="width:150px;height:100p;">
        </div>
        <div class="flip-card-back">
          <h1>FASHION</h1>            <p>EXPORE</p>
          <p>for trendy fashion </p>
        </div>
      </div>
    </div>      
  </div>
  <div class="col-sm-2">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <a href="#">MOBILES</a>
          <img src="./assets/images/e15.jpg" alt="Avatar" align="center" style="width:150px;height:150px;">
        </div>
        <div class="flip-card-back">
          <h1>MOBILES</h1>            <p>EXPORE</p>
          <p>for latest models </p>
        </div>
      </div>
    </div>      
  </div>
  <div class="col-sm-2">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <a href="#">PANTRY</a>
          <img src="./assets/images/bread.jpg" alt="Avatar" align="center" style="width:150px;height:150px;">
        </div>
        <div class="flip-card-back">
          <h1>PANTRY</h1>
                      <p>EXPORE</p>
                      <p>fro daily essentials</p>
        </div>
      </div>
    </div>      
  </div>
  <div class="col-sm-2">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <a href="#">ELECTRONICS</a>
          <img src="./assets/images/laptop.jpg" alt="Avatar" align="center" style="width:150px;height:150px;">
        </div>
        <div class="flip-card-back">
          <h1>ELECTRONICS</h1>            <p>EXPORE</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <a href="#">ESSENTIALS</a>
          <img src="./assets/images/essentials.jpg" alt="Avatar" align="center" style="width:150px;height:150px;">
        </div>
        <div class="flip-card-back">
          <h1>ESSENTIALS</h1>            <p>EXPORE</p>
          <p>for awanced and latest models</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>