<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/spices1.jpg" alt="no img">
                <div class="desc">SPICES<br>
                    <P>400(500g)</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/p1.jpg" alt="no img">
                <div class="desc">WHEAT<br>
                    <P>300RS(1000G)</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/p8.jpg" width="220px" alt="no img">
                <div class="desc">OATS<br>
                    <P>200RS(1KG)</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/p7.jpg" alt="no img">
                <div class="desc">PASTA<br>
                    <P>200RS(1)</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>        
        </div>
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/p9.jpg" alt="no img" width="150px" height="150px">
                <div class="desc">BROWN RICE<br>
                    <P>300RS(250G)</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/meat.jpg" alt="no img">
                <div class="desc">MEAT<br>
                    <P>400RS(1KG)</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>        
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/garlic.jpg" alt="no img" width="150px" height="150px">
                <div class="desc">GARLIC PASTE<br>
                    <P>20RS(100G)</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>        
        </div>
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/p2.jpg" height="150px" alt="no img">
                <div class="desc">BROWN RICE<br>
                    <P>30RS(1)</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="gallery">
                <img src="./assets/images/spices1.jpg" height="150px" alt="no img">
                <div class="desc">SPICES<br>
                    <P>400(500g)</P>
                    <button class="btn btn-danger">SAVE
                        <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                    <button class="btn btn-success"><a routerLink="/checkout">ADD TO CART</a>
                        <i class="fa fa-cart-arrow-down" aria-hidden="true" style="font-size:20px;color:white;"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>